# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -------------------------
# Poetry / Virtual env
# -------------------------
.venv/
.env

# -------------------------
# OS / Editor
# -------------------------
.DS_Store
.vscode/
.idea/

# -------------------------
# Logs
# -------------------------
*.log

/app/generated/prisma
